body {
    font-family: 'Nunito', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.home-page {
    background: linear-gradient(135deg, #f6e58d, #f7b731);
}

.sobre-page {
    background: linear-gradient(135deg, #9c4dcc, #6a1b9a);
}

.servicos-page {
    background: linear-gradient(135deg, #ff9a8b, #ff6a00);
}

.contato-page {
    background: linear-gradient(135deg, #00b4db, #0083b0);
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}

.navbar,
.navbar a {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    color: #333;
}

.navbar .nav-link {
    transition: color 0.3s ease;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
    color: #007bff;
}

.navbar .navbar-brand {
    font-weight: 800;
    font-size: 24px;
    color: #333;
}

.navbar-brand:hover {
    color: #007bff;
}

.carousel-inner img {
    height: 84vh;
    object-fit: cover;
    margin: 0 auto;
}

.carousel {
    margin-top: 70px;
}

/* Estilo da página Sobre */

#content-sobre {
    height: 84vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 70px;
}

.left-column {
    margin-right: 20px;
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
}

.left-column h2 {
    font-family: 'Nunito';
    font-weight: 800;
    color: white;
    font-size: 3.2em;
    margin-bottom: 2rem;
}

.left-column p {
    font-family: 'Nunito';
    font-size: 1.6em;
    color: white;
    font-weight: 600;
}

.rigth-column img {
    margin-left: 8.33333333%;
    padding-left: 15px;
    padding-right: 15px;
}

/* Estilo do Serviços */

.content-service {
    height: 84vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 70px;
    gap: 30px;
}

.card {
    width: 20rem;
    border: solid 1px;
    cursor: pointer;
    transition: .8s ease-in-out;
}

.card:hover {
    transform: scale(1.02);
}

.card.active {
    transform: scale(1.02);
}

.move-right.active {
    transform: translateX(20rem);
}

.move-left.active {
    transform: translateX(-20rem);
}

.card-article {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: none;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: -1;
}

/* Estilo do Contato */

#content-contato {
    height: 84vh;
    margin-top: 70px;

}

/* Estilo do Footer */

footer {
    font-family: "Nunito", sans-serif;
    color: #333;
    padding: 20px 0;
    font-size: 14px;
}

footer p {
    margin: 0;
}